.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO delete*/
.GreekPhrase {
  text-decoration: underline;
}

/* TODO delete*/
.Verse {
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  color: #001533CC;
}

.GreekWord {
  text-align: left;
  margin-bottom: 2px;
  height: 36px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color:#001432;
}

.EnglishWord {
  text-align:left; 
  margin-top: 0px;
  margin-bottom:0px;
  height: 24px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#001432;
}


.UnprocessedMarkdown {
  text-align:left; 
  margin-bottom:12px;
  height: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}


.GreekWordInfoSubCategory {
  text-align:left; 
  margin-bottom:4px;
  height: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color:#00193c;
}

.GreekWordInfoSubCategoryValue {
  text-align:left;
  width:100%; 
  margin-top:0px; 
  margin-bottom:2px; 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.BannerContainer {
  background-color:#001533;
  width:100%
}

.BannerContainer .BannerContainer__elem {
  background-color: inherit;
  padding-right:0px; 
  margin-right:0px;
}

.MainViewContainer {
  width:100%;
  margin:0px;
}

.TextViewContainer {
  padding-top:0px;
}

.TextViewContainer__arrowIcon {
  color: black;
  background-color: #f2f2f2
}

.TextContainer {
  max-height: 70vh;
  overflow: auto;
}

.TextContainer__GreekPhrase {
  text-decoration: underline;
}

.TextContainer__Verse {
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  color: #001533CC;
}